= simple_form_for @property, :html => { :class => 'form-horizontal' } do |f|
  = f.input :zip_code
  = f.input :city
  = f.input :street_name
  = f.input :street_suffix
  = f.input :street_number
  = f.input :unit_number
  = f.input :geo_lon
  = f.input :geo_lat
  = f.input :year_built
  = f.input :bedrooms
  = f.input :bathrooms
  = f.input :approx_sqft
  = f.input :list_price
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), properties_path, :class => 'btn'
