%h1 Listing properties
%table
  %tr
    %th ZIP Code
    %th City
    %th Street Name
    %th Street Suffix
    %th Street Number
    %th Unit Number
    %th Latitude
    %th Longitude
    %th Year Built
    %th Approx sqft
    %th Bathrooms
    %th Bedrooms
    %th Price
    %th Edit
    %th Delete

  - @properties.each do |property|
    %tr
      %td= property.zip_code
      %td= property.city
      %td= property.street_name
      %td= property.street_suffix
      %td= property.street_number
      %td= property.unit_number
      %td= property.geo_lat
      %td= property.geo_lon
      %td= property.year_built
      %td= property.approx_sqft
      %td= property.bathrooms
      %td= property.bedrooms
      %td= property.list_price
      %td= link_to 'Edit', edit_property_path(property)
      %td= link_to 'Delete', property, :confirm => 'Are you sure?', :method => :destroy
 
%br

= link_to  'New Property', new_property_path
