%h1 Hi

= simple_form_for @property do |f|
	= f.input :zip_code, label: 'ZIP Code'
	= f.input :city, label: 'City'
	= f.input :street_name, label: 'Street Name'
	= f.input :street_suffix, label: 'Street Suffix'
	= f.input :street_number, label: 'Street Number'
	= f.input :unit_number, label: 'Unit Number'
	= f.input :geo_lat
	= f.input :geo_lon
	= f.input :year_built
	= f.input :approx_sqft
	= f.input :bathrooms
	= f.input :bedrooms
	= f.input :list_price
	= f.button :submit
