- model_class = Property
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:zip_code) + ':'
  %br
  = @property.zip_code
%p
  %strong= model_class.human_attribute_name(:city) + ':'
  %br
  = @property.city
%p
  %strong= model_class.human_attribute_name(:street_name) + ':'
  %br
  = @property.street_name
%p
  %strong= model_class.human_attribute_name(:street_suffix) + ':'
  %br
  = @property.street_suffix
%p
  %strong= model_class.human_attribute_name(:street_number) + ':'
  %br
  = @property.street_number
%p
  %strong= model_class.human_attribute_name(:unit_number) + ':'
  %br
  = @property.unit_number
%p
  %strong= model_class.human_attribute_name(:geo_lon) + ':'
  %br
  = @property.geo_lon
%p
  %strong= model_class.human_attribute_name(:geo_lat) + ':'
  %br
  = @property.geo_lat
%p
  %strong= model_class.human_attribute_name(:year_built) + ':'
  %br
  = @property.year_built
%p
  %strong= model_class.human_attribute_name(:bedrooms) + ':'
  %br
  = @property.bedrooms
%p
  %strong= model_class.human_attribute_name(:bathrooms) + ':'
  %br
  = @property.bathrooms
%p
  %strong= model_class.human_attribute_name(:approx_sqft) + ':'
  %br
  = @property.approx_sqft
%p
  %strong= model_class.human_attribute_name(:list_price) + ':'
  %br
  = @property.list_price

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), properties_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_property_path(@property), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), property_path(@property), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
